@{
    ViewData["Title"] = "Movies";
}

@model List<Movie>

<div class="text-center">
    <h1 class="mt-3">View the Collection</h1>
</div>

<table class="table table-hover mt-3">
    @* Table Header (row)*@
    <thead class="table-secondary">
        <tr>
            <th scope="col"></th>
            <th scope="col">Category</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Director</th>
            <th scope="col">Rating</th>
            <th scope="col">Edited</th>
            <th scope="col">Lent To:</th>
            <th scope="col">Notes</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

    @*Main Table body*@
    <tbody>
        @* For each entry in the list object we are getting above, put all its info into an HTML table *@
        @foreach (var entry in Model)
        {
            <tr>
                <th scope="row">@entry.MovieID</th>
                <td>@entry.Category.CategoryName</td> <!-- getting the category name from the category object -->
                <td>@entry.Title</td>
                <td>@entry.Year</td>
                <td>@entry.Director</td>
                <td>@entry.Rating</td>
                @if (entry.Edited == true)
                {
                    <td class="text-center">☑</td> <!-- ☑ or ✓ -->
                }
                else
                {
                    @*<td style="text-transform: capitalize;">@entry.Edited.ToString()</td>*@
                    <td></td>
                }

                <td>@entry.LentTo</td>
                <td>@entry.Notes</td>

                <!-- Edit -->
                <td><a asp-controller="Home" asp-action="EditMovie" asp-route-movieid="@entry.MovieID" class="btn btn-outline-light" style="padding: 0 3px 0 3px;">Edit</a></td>
                <!-- Delete -->
                <td><a asp-controller="Home" asp-action="DeleteMovie" asp-route-movieid="@entry.MovieID" class="btn btn-outline-primary" style="padding: 0 3px 0 3px;">Delete</a></td>

            </tr>
        }


    </tbody>
</table>

<div class="text-center">
    <a asp-controller="Home" asp-action="AddMovie" class="btn btn-primary mt-2 mb-3">Add A Movie</a>
</div>